body {
  background-color: black;
}

.container {
  margin: 0px 0px 0px 0px;
  height: 450px;
  width: 450px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0;
}

.allCells {
  background-color: rgb(173, 168, 168);
  width: 149px;
  height: 149px;
  z-index: 99;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}

section.centering {
  margin-bottom: 100px;
}

.krestik,
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
}
.circle {
  font-size: 9rem;
}
